.home-page {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
}
.home-page .container {
  top                 : 112px;
  height              : 280px;
  width               : 860px;
  position            : absolute;
  margin              : 0;
  left                : 122px;
}
.home-page .container .background {
  background-color    : rgba(227, 227, 227, 1.0);
  top                 : 0px;
  height              : 280px;
  width               : 860px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.home-page .container #content {
  top                 : 47px;
  height              : auto;
  width               : 720px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : justify;
  line-height         : 26.0px;
}
.home-page .header {
  top                 : 33px;
  height              : 46px;
  width               : 940px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
}
.home-page .header .icon {
  top                 : 5px;
  height              : auto;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "FontAwesome5FreeRegular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  text-align          : center;
  line-height         : 37.0px;
}
.home-page .header .heading {
  top                 : 0px;
  height              : auto;
  width               : 862px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 36.0px;
  text-align          : center;
  line-height         : 47.0px;
}
.all {
   width: 1024px;
   height: 100%;
   position:relative; 
   margin:auto;
}
.all .nav {
   top                 : 112px;
   height              : 280px;
   width               : 60px;
   position            : fixed;
   left                : 170px;
}
.all .nav #first {
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
.all .nav #first #red {
   background-color    : rgba(244, 163, 176, 1.0);
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
#red a {
   text-decoration     : none;
   top                 : 8px;
   width               : 50px;
   position            : absolute;
   left                : 6px;
   font-family         : "IBMPlexSans", Helvetica, Arial, serif;
   font-size           : 18.0px;
   color               : black;
   text-align          : justify;
   line-height         : 23.0px;
}
.all .nav #second {
   top                 : 40px;
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
.all .nav #second #blue {
   background-color    : rgba(155, 196, 215, 1.0);
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
#blue a {
   text-decoration     : none;
   top                 : 8px;
   width               : 50px;
   position            : absolute;
   left                : 6px;
   font-family         : "IBMPlexSans", Helvetica, Arial, serif;
   font-size           : 18.0px;
   color               : black;
   text-align          : justify;
   line-height         : 23.0px;
}
.all .nav #third {
   top                 : 80px;
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
.all .nav #third #yellow {
   background-color    : rgba(247, 243, 171, 1.0);
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
#yellow a {
   text-decoration     : none;
   top                 : 8px;
   width               : 50px;
   position            : absolute;
   left                : 6px;
   font-family         : "IBMPlexSans", Helvetica, Arial, serif;
   font-size           : 18.0px;
   color               : black;
   text-align          : justify;
   line-height         : 23.0px;
}
.all .nav #fourth {
   top                 : 120px;
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
.all .nav #fourth #purple {
   background-color    : rgba(198, 161, 244, 1.0);
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
#purple a {
   text-decoration     : none;
   top                 : 8px;
   width               : 50px;
   position            : absolute;
   left                : 6px;
   font-family         : "IBMPlexSans", Helvetica, Arial, serif;
   font-size           : 18.0px;
   color               : black;
   text-align          : justify;
   line-height         : 23.0px;
}
.all .nav #fifth {
   top                 : 160px;
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
.all .nav #fifth #green {
   background-color    : rgba(155, 215, 171, 1.0);
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
#green a {
   text-decoration     : none;
   top                 : 8px;
   width               : 50px;
   position            : absolute;
   left                : 6px;
   font-family         : "IBMPlexSans", Helvetica, Arial, serif;
   font-size           : 18.0px;
   color               : black;
   text-align          : justify;
   line-height         : 23.0px;
}
.all .nav #sixth {
   top                 : 200px;
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
.all .nav #sixth #orange {
   background-color    : rgba(247, 212, 167, 1.0);
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
#orange a {
   text-decoration     : none;
   top                 : 8px;
   width               : 50px;
   position            : absolute;
   left                : 6px;
   font-family         : "IBMPlexSans", Helvetica, Arial, serif;
   font-size           : 18.0px;
   color               : black;
   text-align          : justify;
   line-height         : 23.0px;
}
.all .nav #seventh {
   top                 : 240px;
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
.all .nav #seventh #pink {
   background-color    : rgba(247, 155, 208, 1.0);
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
#pink a {
   text-decoration     : none;
   top                 : 8px;
   width               : 50px;
   position            : absolute;
   left                : 6px;
   font-family         : "IBMPlexSans", Helvetica, Arial, serif;
   font-size           : 18.0px;
   color               : black;
   text-align          : justify;
   line-height         : 23.0px;
}