.home-page {
  width               : 100%;
  min-width           : 1024px;
  height              : 100vh;
  min-height          : 768px;
  position            : relative;
  overflow            : hidden;
  margin              : 0px;
}
.home-page .container {
  top                 : 112px;
  height              : 280px;
  width               : 860px;
  position            : absolute;
  margin              : 0;
  left                : 122px;
}
.home-page .container .background {
  background-color    : rgba(227, 227, 227, 1.0);
  top                 : 0px;
  height              : 280px;
  width               : 860px;
  position            : absolute;
  margin              : 0;
  left                : 0px;
}
.home-page .container #content {
  top                 : 47px;
  height              : auto;
  width               : 720px;
  position            : absolute;
  margin              : 0;
  left                : 82px;
  font-family         : "IBMPlexSans-Light", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : justify;
  line-height         : 26.0px;
}
.home-page .header {
  top                 : 33px;
  height              : 46px;
  width               : 940px;
  position            : absolute;
  margin              : 0;
  left                : 42px;
}
.home-page .header .icon {
  top                 : 5px;
  height              : auto;
  width               : 62px;
  position            : absolute;
  margin              : 0;
  left                : -1px;
  font-family         : "FontAwesome5FreeRegular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  text-align          : center;
  line-height         : 37.0px;
}
.home-page .header .heading {
  top                 : 0px;
  height              : auto;
  width               : 862px;
  position            : absolute;
  margin              : 0;
  left                : 79px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 36.0px;
  text-align          : center;
  line-height         : 47.0px;
}
.all {
   width              : 1024px;
   height             : 100%;
   position           : relative; 
   margin             :auto;
}
.all .nav {
   top                : 112px;
   height             : 280px;
   width              : 60px;
   position           : fixed;
   left               : 170px;
}
.all .nav #first {
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
.all .nav #first #red {
   background-color   : rgba(244, 163, 176, 1.0);
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
#red a {
   text-decoration    : none;
   top                : 8px;
   width              : 50px;
   position           : absolute;
   left               : 6px;
   font-family        : "IBMPlexSans", Helvetica, Arial, serif;
   font-size          : 18.0px;
   color              : black;
   text-align         : justify;
   line-height        : 23.0px;
}
.all .nav #second {
   top                : 40px;
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
.all .nav #second #blue {
   background-color   : rgba(155, 196, 215, 1.0);
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
#blue a {
   text-decoration    : none;
   top                : 8px;
   width              : 50px;
   position           : absolute;
   left               : 6px;
   font-family        : "IBMPlexSans", Helvetica, Arial, serif;
   font-size          : 18.0px;
   color              : black;
   text-align         : justify;
   line-height        : 23.0px;
}
.all .nav #third {
   top                : 80px;
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
.all .nav #third #yellow {
   background-color   : rgba(247, 243, 171, 1.0);
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
#yellow a {
   text-decoration    : none;
   top                : 8px;
   width              : 50px;
   position           : absolute;
   left               : 6px;
   font-family        : "IBMPlexSans", Helvetica, Arial, serif;
   font-size          : 18.0px;
   color              : black;
   text-align         : justify;
   line-height        : 23.0px;
}
.all .nav #fourth {
   top                : 120px;
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
.all .nav #fourth #purple {
   background-color   : rgba(198, 161, 244, 1.0);
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
#purple a {
   text-decoration    : none;
   top                : 8px;
   width              : 50px;
   position           : absolute;
   left               : 6px;
   font-family        : "IBMPlexSans", Helvetica, Arial, serif;
   font-size          : 18.0px;
   color              : black;
   text-align         : justify;
   line-height        : 23.0px;
}
.all .nav #fifth {
   top                : 160px;
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
.all .nav #fifth #green {
   background-color   : rgba(155, 215, 171, 1.0);
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
#green a {
   text-decoration    : none;
   top                : 8px;
   width              : 50px;
   position           : absolute;
   left               : 6px;
   font-family        : "IBMPlexSans", Helvetica, Arial, serif;
   font-size          : 18.0px;
   color              : black;
   text-align         : justify;
   line-height        : 23.0px;
}
.all .nav #sixth {
   top                : 200px;
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
.all .nav #sixth #orange {
   background-color   : rgba(247, 212, 167, 1.0);
   height             : 40px;
   width              : 60px;
   position           : absolute;
}
#orange a {
   text-decoration    : none;
   top                : 8px;
   width              : 50px;
   position           : absolute;
   left               : 6px;
   font-family        : "IBMPlexSans", Helvetica, Arial, serif;
   font-size          : 18.0px;
   color              : black;
   text-align         : justify;
   line-height        : 23.0px;
}
.all .nav #seventh {
   top                 : 240px;
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
.all .nav #seventh #pink {
   background-color    : rgba(247, 155, 208, 1.0);
   height              : 40px;
   width               : 60px;
   position            : absolute;
}
#pink a {
   text-decoration     : none;
   top                 : 8px;
   width               : 50px;
   position            : absolute;
   left                : 6px;
   font-family         : "IBMPlexSans", Helvetica, Arial, serif;
   font-size           : 18.0px;
   color               : black;
   text-align          : justify;
   line-height         : 23.0px;
}
.page-1940 {
   width               : 100%;
   min-width           : 1024px;
   height              : 100vh;
   min-height          : 1678px;
   position            : relative;
}
.page-1940 .main {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.page-1940 .main .background1 {
  background-color    : rgba(244, 163, 176, 1.0);
  height              : 1054px;
  width               : 860px;
  position            : absolute;
}
.page-1940 .main .background1 .picture1 {
  top                 : 80px;
  height              : 894px;
  width               : 700px;
  position            : absolute;
  margin              : 0;
  left                : 80px;
}
.page-1940 .header {
  top                 : 26px;
  height              : 61px;
  width               : 940px;
  position            : absolute;
  left                : 42px;
}
.map-icon {
  top                 : 38px;
  width               : 62px;
  position            : fixed;
  left                : 169px;
  font-family         : "FontAwesome5FreeRegular", Helvetica, Arial, serif;
  font-size           : 36.0px;
  text-align          : center;
  line-height         : 37.0px;
}
.map-icon a {
   text-decoration: none;
   color: rgba(0, 0, 0, 1.0);
}
.page-1940 .header .campus-map {
  height              : auto;
  width               : 862px;
  position            : absolute;
  left                : 79px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  text-align          : center;
  line-height         : 32.0px;
}
.page-1956 {
   width               : 100%;
   min-width           : 1024px;
   height              : 100vh;
   min-height          : 1678px;
   position            : relative;
}
.page-1956 .main {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.page-1956 .main .background2 {
  background-color    : rgba(156, 197, 215, 1.0);
  height              : 928px;
  width               : 860px;
  position            : absolute;
}
.page-1956 .main .background2 .picture2 {
   top                 : 81px;
   height              : 766px;
   width               : 700px;
   position            : absolute;
   left                : 80px;
 }
.page-1956 .header {
  top                 : 26px;
  height              : 61px;
  width               : 940px;
  position            : absolute;
  left                : 42px;
}
.page-1956 .header .campus-map {
  height              : auto;
  width               : 862px;
  position            : absolute;
  left                : 79px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  text-align          : center;
  line-height         : 32.0px;
}
.page-1959 {
   width               : 100%;
   min-width           : 1024px;
   height              : 100vh;
   min-height          : 1678px;
   position            : relative;
}
.page-1959 .main {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.page-1959 .main .background3 {
  background-color    : rgba(247, 243, 172, 1.0);
  height              : 856px;
  width               : 860px;
  position            : absolute;
}
.page-1959 .main .background3 .picture3 {
   top                 : 81px;
   height              : 694px;
   width               : 700px;
   position            : absolute;
   left                : 80px;
 }
.page-1959 .header {
  top                 : 26px;
  height              : 61px;
  width               : 940px;
  position            : absolute;
  left                : 42px;
}
.page-1959 .header .campus-map {
  height              : auto;
  width               : 862px;
  position            : absolute;
  left                : 79px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  text-align          : center;
  line-height         : 32.0px;
}
.page-1960 {
   width               : 100%;
   min-width           : 1024px;
   height              : 100vh;
   min-height          : 1678px;
   position            : relative;
}
.page-1960 .main {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.page-1960 .main .background4 {
  background-color    : rgba(198, 162, 245, 1.0);
  height              : 848px;
  width               : 860px;
  position            : absolute;
}
.page-1960 .main .background4 .picture4 {
   top                 : 83px;
   height              : 684px;
   width               : 700px;
   position            : absolute;
   left                : 80px;
}
.page-1960 .header {
  top                 : 26px;
  height              : 61px;
  width               : 940px;
  position            : absolute;
  left                : 42px;
}
.page-1960 .header .campus-map {
  height              : auto;
  width               : 862px;
  position            : absolute;
  left                : 79px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  text-align          : center;
  line-height         : 32.0px;
}
.page-1962 {
   width               : 100%;
   min-width           : 1024px;
   height              : 100vh;
   min-height          : 1678px;
   position            : relative;
}
.page-1962 .main {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.page-1962 .main .background5 {
  background-color    : rgba(156, 215, 171, 1.0);
  height              : 704px;
  width               : 860px;
  position            : absolute;
}
.page-1962 .main .background5 .picture5 {
   top                 : 81px;
   height              : 542px;
   width               : 700px;
   position            : absolute;
   left                : 80px;
}
.page-1962 .header {
  top                 : 26px;
  height              : 61px;
  width               : 940px;
  position            : absolute;
  left                : 42px;
}
.page-1962 .header .campus-map {
  height              : auto;
  width               : 862px;
  position            : absolute;
  left                : 79px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  text-align          : center;
  line-height         : 32.0px;
}
.page-1970 {
   width               : 100%;
   min-width           : 1024px;
   height              : 100vh;
   min-height          : 1678px;
   position            : relative;
}
.page-1970 .main {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.page-1970 .main .background6 {
  background-color    : rgba(247, 213, 167, 1.0);
  height              : 693px;
  width               : 860px;
  position            : absolute;
}
.page-1970 .main .background6 .picture6 {
   top                 : 81px;
   height              : 531px;
   width               : 700px;
   position            : absolute;
   left                : 80px;
}
.page-1970 .header {
  top                 : 26px;
  height              : 61px;
  width               : 940px;
  position            : absolute;
  left                : 42px;
}
.page-1970 .header .campus-map {
  height              : auto;
  width               : 862px;
  position            : absolute;
  left                : 79px;
  font-family         : "IBMPlexSans", Helvetica, Arial, serif;
  font-size           : 24.0px;
  text-align          : center;
  line-height         : 32.0px;
}
.page-1980 {
   width : 100%;
   min-width : 1024px;
   height : 100vh;
   min-height : 1678px;
   position : relative;
}
.page-1980 .main {
  top : 112px;
  height : 1488px;
  width : 860px;
  position : absolute;
  left : 122px;
}
.page-1980 .main .background7 {
  background-color : rgba(247, 156, 208, 1.0);
  height : 702px;
  width : 860px;
  position : absolute;
}
.page-1980 .main .background7 .picture7 {
   top  : 81px;
   height  : 540px;
   width : 700px;
   position : absolute;
   left : 80px;
}
.page-1980 .header {
  top : 26px;
  height : 61px;
  width : 940px;
  position : absolute;
  left : 42px;
}
.page-1980 .header .campus-map {
  height : auto;
  width  : 862px;
  position : absolute;
  left : 79px;
  font-family : "IBMPlexSans", Helvetica, Arial, serif;
  font-size : 24.0px;
  text-align : center;
  line-height : 32.0px;
}
.legend-container1 {
   width: 1024px;
   bottom: 1678px;
   position: relative;
   margin: auto;
}
.legend-container1 .footer1 {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.legend-container1 .footer1 .legend1 {
  top                 : 1054px;
  height              : 434px;
  width               : 860px;
  position            : absolute;
}
.legend-container1 .footer1 .legend1 .background01 {
  background-color    : rgba(240, 240, 240, 1.0);
  height              : 434px;
  width               : 860px;
  position            : absolute;
}
.legend-container1 .footer1 .legend1 .right-list1 {
  top                 : 76px;
  height              : auto;
  width               : 322px;
  position            : absolute;
  left                : 460px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container1 .footer1 .legend1 .left-list1 {
  top                 : 76px;
  width               : 322px;
  position            : absolute;
  left                : 80px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container2 {
   width: 1024px;
   bottom: 1804px;
   position: relative;
   margin: auto;
}
.legend-container2 .footer2 {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.legend-container2 .footer2 .legend2 {
  top                 : 1054px;
  height              : 434px;
  width               : 860px;
  position            : absolute;
}
.legend-container2 .footer2 .legend2 .background02 {
  background-color    : rgba(240, 240, 240, 1.0);
  height              : 417px;
  width               : 860px;
  position            : absolute;
}
.legend-container2 .footer2 .legend2 .right-list2 {
  top                 : 76px;
  height              : auto;
  width               : 322px;
  position            : absolute;
  left                : 460px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container2 .footer2 .legend2 .left-list2 {
  top                 : 76px;
  width               : 322px;
  position            : absolute;
  left                : 80px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container3 {
   width: 1024px;
   bottom: 1876px;
   position: relative;
   margin: auto;
}
.legend-container3 .footer3 {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.legend-container3 .footer3 .legend3 {
  top                 : 1054px;
  height              : 434px;
  width               : 860px;
  position            : absolute;
}
.legend-container3 .footer3 .legend3 .background03 {
  background-color    : rgba(240, 240, 240, 1.0);
  height              : 452px;
  width               : 860px;
  position            : absolute;
}
.legend-container3 .footer3 .legend3 .right-list3 {
  top                 : 76px;
  height              : auto;
  width               : 322px;
  position            : absolute;
  left                : 460px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container3 .footer3 .legend3 .left-list3 {
  top                 : 76px;
  width               : 322px;
  position            : absolute;
  left                : 80px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container4 {
   width: 1024px;
   bottom: 1884px;
   position: relative;
   margin: auto;
}
.legend-container4 .footer4 {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.legend-container4 .footer4 .legend4 {
  top                 : 1054px;
  height              : 434px;
  width               : 860px;
  position            : absolute;
}
.legend-container4 .footer4 .legend4 .background04 {
  background-color    : rgba(240, 240, 240, 1.0);
  height              : 410px;
  width               : 860px;
  position            : absolute;
}
.legend-container4 .footer4 .legend4 .right-list4 {
  top                 : 76px;
  height              : auto;
  width               : 322px;
  position            : absolute;
  left                : 460px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container4 .footer4 .legend4 .left-list4 {
  top                 : 76px;
  width               : 322px;
  position            : absolute;
  left                : 80px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container5 {
   width: 1024px;
   bottom: 2028px;
   position: relative;
   margin: auto;
}
.legend-container5 .footer5 {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.legend-container5 .footer5 .legend5 {
  top                 : 1054px;
  height              : 434px;
  width               : 860px;
  position            : absolute;
}
.legend-container5 .footer5 .legend5 .background05 {
  background-color    : rgba(240, 240, 240, 1.0);
  height              : 414px;
  width               : 860px;
  position            : absolute;
}
.legend-container5 .footer5 .legend5 .right-list5 {
  top                 : 76px;
  height              : auto;
  width               : 322px;
  position            : absolute;
  left                : 460px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container5 .footer5 .legend5 .left-list5 {
  top                 : 76px;
  width               : 322px;
  position            : absolute;
  left                : 80px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container6 {
   width: 1024px;
   bottom: 2039px;
   position: relative;
   margin: auto;
}
.legend-container6 .footer6 {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.legend-container6 .footer6 .legend6 {
  top                 : 1054px;
  height              : 434px;
  width               : 860px;
  position            : absolute;
}
.legend-container6 .footer6 .legend6 .background06 {
  background-color    : rgba(240, 240, 240, 1.0);
  height              : 1056px;
  width               : 860px;
  position            : absolute;
}
.legend-container6 .footer6 .legend6 .right-list6 {
  top                 : 76px;
  height              : auto;
  width               : 322px;
  position            : absolute;
  left                : 460px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container6 .footer6 .legend6 .left-list6 {
  top                 : 76px;
  width               : 322px;
  position            : absolute;
  left                : 80px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container7 {
   width: 1024px;
   bottom: 2030px;
   position: relative;
   margin: auto;
}
.legend-container7 .footer7 {
  top                 : 112px;
  height              : 1488px;
  width               : 860px;
  position            : absolute;
  left                : 122px;
}
.legend-container7 .footer7 .legend7 {
  top                 : 1054px;
  height              : 434px;
  width               : 860px;
  position            : absolute;
}
.legend-container7 .footer7 .legend7 .background07 {
  background-color    : rgba(240, 240, 240, 1.0);
  height              : 1663px;
  width               : 860px;
  position            : absolute;
}
.legend-container7 .footer7 .legend7 .right-list7 {
  top                 : 76px;
  height              : auto;
  width               : 322px;
  position            : absolute;
  left                : 460px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
.legend-container7 .footer7 .legend7 .left-list7 {
  top                 : 76px;
  width               : 322px;
  position            : absolute;
  left                : 80px;
  font-family         : "IBMPlexSans-Bold", Helvetica, Arial, serif;
  font-size           : 16.0px;
  text-align          : left;
  line-height         : 20.0px;
}
:root {
   font-size: 32px;
}
#red-arrow span {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   position: relative;
   padding: 0 4px;
   background-color : rgba(244, 163, 176, 1.0);
   transition: .5s;
}
#red-arrow span::after {
   position: absolute;
   left: 60px;
   content: '';
   border-top: 20px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 20px solid rgba(244, 163, 176, 1.0);
}
#red-arrow span:hover {
   background-color: none;
}
#blue-arrow span {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   position: relative;
   padding: 0 4px;
   background-color : rgba(156, 197, 215, 1.0);
   transition: .5s;
}
#blue-arrow span::after {
   position: absolute;
   left: 60px;
   content: '';
   border-top: 20px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 20px solid rgba(156, 197, 215, 1.0);
}
#blue-arrow span:hover {
   background-color: none;
}
#yellow-arrow span {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   position: relative;
   padding: 0 4px;
   background-color : rgba(247, 243, 172, 1.0);
   transition: .5s;
}
#yellow-arrow span::after {
   position: absolute;
   left: 60px;
   content: '';
   border-top: 20px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 20px solid rgba(247, 243, 172, 1.0);
}
#yellow-arrow span:hover {
   background-color: none;
}
#purple-arrow span {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   position: relative;
   padding: 0 4px;
   background-color : rgba(198, 162, 245, 1.0);
   transition: .5s;
}
#purple-arrow span::after {
   position: absolute;
   left: 60px;
   content: '';
   border-top: 20px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 20px solid rgba(198, 162, 245, 1.0);
}
#purple-arrow span:hover {
   background-color: none;
}
#green-arrow span {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   position: relative;
   padding: 0 4px;
   background-color : rgba(156, 215, 171, 1.0);
   transition: .5s;
}
#green-arrow span::after {
   position: absolute;
   left: 60px;
   content: '';
   border-top: 20px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 20px solid rgba(156, 215, 171, 1.0);
}
#green-arrow span:hover {
   background-color: none;
}
#orange-arrow span {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   position: relative;
   padding: 0 4px;
   background-color : rgba(247, 213, 167, 1.0);
   transition: .5s;
}
#orange-arrow span::after {
   position: absolute;
   left: 60px;
   content: '';
   border-top: 20px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 20px solid rgba(247, 213, 167, 1.0);
}
#orange-arrow span:hover {
   background-color: none;
}
#pink-arrow span {
   display: inline-block;
   height: 40px;
   line-height: 40px;
   position: relative;
   padding: 0 4px;
   background-color : rgba(247, 156, 208, 1.0);
   transition: .5s;
}
#pink-arrow span::after {
   position: absolute;
   left: 60px;
   content: '';
   border-top: 20px solid transparent;
   border-right: 20px solid transparent;
   border-bottom: 20px solid transparent;
   border-left: 20px solid rgba(247, 156, 208, 1.0);
}
#pink-arrow span:hover {
   background-color: none;
}
#light1 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light2 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light3 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light4 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light5 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light6 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light7 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light8 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light9 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light10 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light11 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light12 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light13 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light14 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light15 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light16 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light17 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light18 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light19 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light20 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light21 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#light22 {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}
#TCS {
font-family: "IBMPlexSans-Extralight", Helvetica, Arial, serif;
}